.link {
	color: #fff;
	font-size: 18px;
	line-height: 48px ;
    cursor: pointer;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	box-sizing:content-box;
	vertical-align: middle;
	text-align: center;
	height: 48px;
}

.active {
	color: #1565c0;
	border-bottom: solid 4px #1565c0;
}
